<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Default Package Sources; works like the 'packageSources' section of NuGet.Config files. -->
    <!-- This collection cannot be deleted or modified but can be disabled/enabled by users. -->
    <packageSources>
        <add key="WTC Packages" value="\\wyatt-data3\SoftwareDevBU\LocalNugetPackages" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>

</configuration>

